<div id = "calendarLayout">
  <div id = "calendarWithMonthYear">
    <div id = "monthYear">
    </div>

      <div id = "calendarBlock">
    <div id = "swipeLeft">
      <
    </div>
  <div id = "calendar">

    <script src = './js/calendarJS/calendarGeneration.js'>
    </script>


</div>

    <div id = "swipeRight">
      >
    </div>

  </div>
</div>
<div id = "timelineWrapper">
      <ul id = "timeline">
      </ul>
      <div id = "attendeeData">
        <div class = "betweenText">Как вас зовут?</div>
        <input class = "userInput" id = "userNameInput" placeholder="Ваше имя"/>
        <div class = "betweenText">Ваш номер телефона</div>
        <input class = "userInput" id= "userPhoneInput" placeholder="Ваш номер"/>
        <button id = "signupButton">Записаться в музей!</button>
      </div>
  </div>

  <div id = "confirmBox">
    <div id = "confirmBoxText" class = "presentText">
      Подтвердите выбор данных записи
      <div id = "confirmBoxTextDate" class = "presentText">
      </div>
      <div id = "confirmBoxTextTime"  class = "presentText">
      </div>
      <div id = "confirmBoxTextName">
      </div>
      <div id = "confirmBoxTextPhone">
      </div>
    </div>
    <div id = confirmBoxButtons>

      <button id="confirmBoxConfirm">Подтвердить</button>
      <button id="confirmBoxDeny">Отменить</button>
    </div>
  </div>

  <div id = "notifications">

  </div>

</div>
