<div class = "allContent">
<!-- START OF TEXTAREA-->

<div id="exhibitionsArea">


<span id = "exSPAN">Выставки</span>


</div>


<div class = "ticketsArea">


<span id = "tiSPAN">Билеты</span>

<div class = "main-content" id = "ticketsBlock">


<div class = "tableTickets" data-aos="flip-left">
<table align = "center">
<tr>
  <th>Здесь</th>
  <th>Будут</th>
  <th>Выбранные</th>
  <th>Билеты</th>
</tr>
<tr>
  <td>И</td>
  <td>Цены</td>
  <td>На</td>
  <td>Них</td>
</tr>
<tr>
  <td>Тестовая надпись</td>
  <td>Тестовая надпись</td>
  <td>Тестовая надпись</td>
  <td>Тестовая надпись</td>
</tr>

<tr>
  <td>Тестовая надпись</td>
  <td>Тестовая надпись</td>
  <td>Тестовая надпись</td>
  <td>Тестовая надпись</td>
</tr>

<tr>
  <td>Тестовая надпись</td>
  <td>Тестовая надпись</td>
  <td>Тестовая надпись</td>
  <td>Тестовая надпись</td>
</tr>
</table>
</div>
</div>


<!--End of the ticket area-->


</div>

<!--Start of news area-->

<div class="newsArea">

<span id = "neSPAN">Новости</span>

<div class = "newsWrapper" id = "newsBlock" style="margin-bottom:200px;">
<div style="width:70%; margin:auto; text-align:justify;" id = "newsWrapper2">



</div>
</div>


</div>

<!--End of news area-->





<!--START OF POPULAR QUESTIONS AREA-->
<div class = "popularQuestionsArea">


<span id = "poSPAN">Популярные вопросы</span>




</div>

{{> home/calendar}}




<!--END OF POPULAR QUESTIONS AREA-->


</div>
