<!DOCTYPE html>
 <head>
  <meta charset="utf-8">
  {{> pageTitle}}
  <style>
   span:empty {
    background: red;
    padding: 3px;
    margin-left: 7px;
    display: inline-block;
   }
  </style>
 </head>
 <body>
  <p>Линеарная фактура, в том числе, иллюстрирует фузз, и здесь мы видим
  ту самую каноническую секвенцию с разнонаправленным шагом
  отдельных звеньев<span></span></p>
 </body>
</html>
