span#exSPAN{
  margin-top:0;
  padding-top:100px;
}

.exhList{
    min-height: calc(100vh - 268px);
    width:80%;
    margin: auto;
    background-image: url("../media/bgtexture.jpg");
    background-repeat: repeat;
    position: relative;
}

.info{
    width: 300px;
    height: 100px;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateX(-50%) translateY(-50%);

}



.exhibitionImage{
  display: inline-block;
  object-fit: cover;
width:550px;
height:550px;
float: left;
}

.exhibitionDescription{
  display: flex;
text-align: center;
vertical-align : top;
width:100%;
flex-direction: column;
}

#textArea{
  width:90%;
  display: flex;

}
.exhibitionDescription h3{
  font-size: 4em;
  display: block;
  margin-bottom: 20px;

}

.exhibitionDescription p{
  width:80%;
  display: block;

  font-size: 1.4em;
  margin: auto;
  border: double 2px white;
}

.exhibitionParagraph{

}

/* Learn more */

.learnMoreExhibition{
  margin-top: 20px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.3em;
  font-size: 2em;
  margin: 0 0 1em 0;
  border: 1px solid #b9b9b9;
}

.learnMoreWrapper{
  margin-top: 30px;
  	text-align: center;
}
