<div id ="editorSelector">

  <h1 class = "select">
    Выберите, что вы собираетесь модифицировать.
  </h1>

  <button class = "selectModification" id ="selectNews">
    Новости
  </button>

  <button class = "selectModification" id = "selectExhibitions">
    Выставки
  </button>

  <button class = "selectModification" id = "selectQuestions">
    Вопросы
  </button>

</div>
